* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background: #f9f9f9;
}

nav {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    gap: 30px;
    padding: 0 50px;
    align-items: center;
}

nav #logo {
    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

nav #navigation {
    width: inherit;
    height: inherit;
    display: flex;
    gap: 30px;
    align-items: center;
}

nav .drop-down {
    width: 40px;
    display: none;
    background: #1e1e1e;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}

nav #navigation #navigation-links {
    width: 240px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0 20px;
}

nav #navigation #navigation-links li,
nav #navigation #navigation-links li a  {
    font-size: 16px;
    text-decoration: none;
    color: #939393;
    text-transform: uppercase;
}

nav #navigation #navigation-links li a:hover  {
    color: #1e1e1e;
}

nav #navigation #navigation-links .nav-divider {
    color: #e4e4e4;
}

nav #navigation #login-button {
    margin-left: auto;
}

nav #navigation #login-button button {
    background: #1e1e1e;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 36px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}

nav #navigation #login-button button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


/* HOME */
#hm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    height: 700px;
}

#hm-container main {
    width: 100%;
    padding: 0 50px;
}

#hm-container main .notLoggedIn-container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hm-container main .notLoggedIn-container .welcome-mss {
    border: 1px solid #dcdcdc;
    width: 100%;
    height: 552px;
    background-color: white;
    border-radius: 16px;
    padding: 30px;
}

#hm-container main .notLoggedIn-container .welcome-mss h1 {
    font-size: 32px;
    font-weight: 600;
    color: #34b641;
    padding: 10px 0;
}

#hm-container main .notLoggedIn-container .welcome-mss .wm {
    font-size: 32px;
    color: #34b641;
    padding: 5px 0;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg {
    width: 100%;
    background-color: #F4FFF5;
    display: flex;
    height: 360px;
    gap: 10px;
    justify-content: space-between;
    padding-left: 10px;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left p {
    font-size: 30px;
    color: #1e1e1e;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns {
    width: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns {
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 700;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-sign-in,
#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-register{
    width: 190px;
    height: 36px;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    font-size: 16px;
    font-weight: 600;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-sign-in {
    background-color: #34b641;
    color: white;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-sign-in a{
    color: white;
    text-decoration: none;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-register a{
    color:#34b641;
    text-decoration: none;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-register{
    background-color: white;
    color: #34b641;
    border: 1px solid #34b641;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-right {
    display: flex;
    gap: 5px;
    flex: 2;
    width: 300px;
    justify-content: space-between;
    align-items: stretch;
}

#hm-container main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-right img {
    width: 300px;
    /* height: 300px; */
}

/* footer  */

footer {
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

footer #links ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}


footer #links ul a{
    color:#939393;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

footer #links ul a:hover{
    color:#1e1e1e;
    text-decoration: underline;
}

footer #socials ul {
    width: 180px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

footer p {
    font-size: 16px;
    text-transform: uppercase;
    color: #939393;
}


/* REGISTER  */

.register-container,
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.register-container main,
.login-container main {
    background: white;
    height: 605px;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    border-radius: 4px;
}

.register-container main h1,
.login-container main h1{
    color: #34b641;
    font-weight: 700;
    font-size: 32px;
    padding: 5px 0;
}

.register-container main p,
.login-container main p{
    color: #939393;
    font-size: 18px;
    padding-bottom: 10px;
}

.register-container main form,
.login-container main form{
    background: #f9f9f9;
    width: 100%;
    height: 420px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 15px;
}

.login-container main form{
    justify-content: center;
    gap: 40px;

}

.register-container main form label,
.login-container main form label  {
    display: inline-block;
    width: 150px;
    font-size: 18px;
    color: #1e1e1e;
    padding-right: 30px;
}

.register-container main form input,
.login-container main form input {
    width: 900px;
    height: 38px;
    border: 1px solid #dcdcdc;
    background-color: white;
    font-size: 18px;
    padding: 0 10px;
    color: #1e1e1e;
}

.register-container main form button,
.login-container main form button{
    width: 190px;
    height: 36px;
    background: #34b641;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: -70px;
    right: 0;
}


/* -- home signed in --  */
#hm-container main #loggedInMain {
    background: white;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    border-radius: 16px;
    height: 660px;
    padding: 30px;
    /* margin-top: 20px; */
}

#hm-container main #loggedInMain #user-welcome {
    display: flex;
    align-items: center;
    gap: 20px;
}

#hm-container main #loggedInMain #user-welcome #user-img img,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container .postexpanded-user img{
    border: 3px black solid;
    border-radius: 100px;
    object-fit: cover;
}

#hm-container main #loggedInMain #user-welcome #create-btn-container {
    margin-left: auto;
}

#hm-container main #loggedInMain #user-welcome #user-msg #users-name{
    text-transform: capitalize;
}

#hm-container main #loggedInMain #user-welcome #user-msg p{
    font-weight: 700;
    font-size: 28px;
    color: black;
}

#hm-container main #loggedInMain #user-welcome #user-msg #today-date{
    font-weight: 300;
    font-size: 18px;
    color: #939393;
}

#hm-container main #loggedInMain #user-welcome #create-btn-container button {
    width: 190px;
    height: 36px;
    background-color: #34b641;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
}

#hm-container main #loggedInMain #user-welcome #create-btn-container button a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
/* posts container  */
#hm-container main #loggedInMain .posts-container {
    background-color: #f9f9f9;
    height: 480px;
    padding: 20px 30px;
    margin-top: 20px;
}

#hm-container main #loggedInMain .posts-container  #hm-posts-header{
    display: flex;
    align-items: center;
}

#hm-container main #loggedInMain .posts-container  #hm-posts-header h1{
    text-transform: uppercase;
    font-size: 24px;
    color: #1e1e1e;
    padding-right: 50px;
}


#hm-container main #loggedInMain .posts-container  #hm-posts-header p{
    font-size: 18px;
    color: #939393;
}

#hm-container main #loggedInMain .posts-container  #hm-posts-header form{
    margin-left: auto;
    border: 1px solid #dcdcdc;
    background: white;
    border-radius: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: center;
}

#hm-container main #loggedInMain .posts-container  #hm-posts-header form input{
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 0 10px 0;
    border: none;
}

#hm-container main #loggedInMain .posts-container  #hm-posts-header form input::placeholder{
    color: #dcdcdc;
    text-transform: capitalize;
}

#hm-container main #loggedInMain .posts-container  #hm-posts-header form button{
    background: none;
    cursor: pointer;
    border: none;
}

#hm-container main #loggedInMain .posts-container #hm-body-container {
    display: flex;
    height: 400px;
    gap: 20px;
    padding: 20px 0;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #filter{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #filter p{
    border-bottom: 3px solid #e0e0e0;
    width: 120px;
    text-align: center;
    padding: 20px 0 5px;
    font-size: 16px;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #filter button{
    border: none;
    width: 120px;
    height: 40px;
    font-size: 16px;
    background: white;
    cursor: pointer;
    color: #939393;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #filter button:hover {
    color: #1e1e1e;
}


#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts{
    width: 400px;
    flex: 2;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}


#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-title-date #hm-title {
    font-size: 20px;
    color: black;
    font-weight: 700;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-title-date #hm-date {
    font-size: 14px;
    color: #939393;
    font-weight: 600;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns, 
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns {
    /* border: 1px solid red; */
    width: 300px;
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    border-radius: 50px;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns button,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns button {
    width: 100px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns .share,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns .share {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    border-right: 1px solid #e0e0e0;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns .share a,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns .share a {
    text-decoration: none;
    color: #ffb800;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns .delete,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns .delete {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    border-left: 1px solid #e0e0e0;
    color: #DD0000;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns .delete a,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns .delete a{
    text-decoration: none;
    color: #DD0000;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns .edit,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns .edit {
    border: none;
    color: #0085FF;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-header #hm-header-btns .edit a,
.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container
.postexpanded-post-container #postexpanded-header-btns .edit a {
    text-decoration: none;
    color: #0085FF;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-body {
    width: inherit;
    overflow: hidden;
    font-size: 16px;
    padding: 20px 0;
    height: 300px;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-footer {
    width: 100%;
    height: 50px;
    color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
} 

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-footer button {
    height: 40px;
    background: white;
    cursor: pointer;
    border: none;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-footer button a {
    cursor: pointer;
    color: black;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

#hm-container main #loggedInMain .posts-container #hm-body-container #hm-posts li #hm-post #hm-footer button a:hover {
    color: #34b641;
}


/* CREATE  */

#create-container,
#edit-container {
    height: 700px;
    display: flex;
    align-items: center; 
    padding: 50px;
}

#create-container main,
#edit-container main {
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    padding: 20px;
}

#create-container main h1,
#edit-container main h1,
.settings-container main h1 {
    font-size: 32px;
    font-weight: 600;
    color: #34b641;
}

#create-container main p,
#edit-container main p,
.settings-container main p {
    font-size: 18px;
    color: #939393;
    padding-bottom: 20px;
}

#create-container main form,
#edit-container main form {
    background-color: #f9f9f9;
    padding: 20px;
    position: relative;
}

#create-container main form input,
#edit-container main form input {
    background: white;
    width: 100%;
    font-size: 22px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
}

#create-container main form input::placeholder,
#edit-container main form input::placeholder {
    color: #b9b9b9;
}

#create-container main form textarea,
#edit-container main form textarea {
    height: 400px;
    box-sizing: border-box;
    font-size: 16px;
}
#create-container main form .create-btn,
#edit-container main form .edit-btn {
    background-color: #34b641;
    color: white;
    font-size: 16px;
    position: absolute;
    top: -70px;
    width: 160px;
    height: 32px;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    right: 2px;
    cursor: pointer;
}

/* SETTINGS    */

.settings-container {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.settings-container main {
    background: white;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    border-radius: 16px;
    height: 660px;
    padding: 30px;
    width: 100%;
}

.settings-container main form {
    background: #f9f9f9;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    position: relative;
    border-radius: 4px;
    gap: 24px;
    height: 480px;
}

.settings-container main form .form-settings {
    background: #f9f9f9;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.settings-container main form .form-settings label {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #1e1e1e;
}

.settings-container main form .form-settings input {
    width: 100%;
    background: white;
    border: 1px solid #dcdcdc;
    height: 38px;
    border-radius: 4px;
    padding: 2px 10px;
    font-size: 16px;
}

.settings-container main form .settings-btn {
    position: absolute;
    top: -70px;
    right: 2px;
}

.settings-container main form .settings-btn button {
    width: 130px;
    height: 30px;
    font-size: 16px;
    background-color: #34b641;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    cursor: pointer;
}

/* POST EXPANDED --------------------- */

.post-expanded-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.post-expanded-container main {
    background: white;
    width: 100%;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    border-radius: 8px;
}

.post-expanded-container main .postexpanded-greycontainer {
    background: #f9f9f9;
    padding: 30px;
    height: 100%;
    border-radius: 8px;
}

.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container {
    background: white;
    display: flex;
    height: inherit;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    position: relative;
}

.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container .postexpanded-user {
    width: 160px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container .postexpanded-user h2 {
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container .postexpanded-post-container {
    padding: 10px;
}

.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container .postexpanded-post-container  h1{
    font-size: 32px;
    font-weight: 700;
    color: black;
    padding: 10px 0;
}

.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container .postexpanded-post-container .postexpanded-date{
    font-size: 16px;
    font-weight: 500;
    color: #939393;
}

.post-expanded-container main .postexpanded-greycontainer .postexpanded-white-container .postexpanded-post-container .postexpanded-post {
    font-size: 18px;
    color: #1e1e1e;
    /* height: 340px; */
    overflow: scroll;
    padding: 10px 0;
}

#postexpanded-header-btns {
    position: absolute;
    right: 40px;
    top: 40px;
}

/* MEDIA QUERIES  */

@media(max-width: 1204px) {
    nav #logo {
        font-size: 28px;
        text-transform: uppercase;
    }
    nav #navigation-links {
        width: 250px;
    }
    nav #navigation-links li,
    nav #navigation-links li a  {
        font-size: 14px;
    }
}

@media(max-width: 840px) {
    nav #navigation {
        height: 300px;
        width: 200px;
        display: none;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        position: absolute;
        background: white;
        z-index: 1;
        top: 70px;
        right: 50px;
        border-radius: 16px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        margin-left: auto;
    }
    nav #navigation.show-nav {
        display: flex;
    }
    nav #navigation #navigation-links {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        align-items: space-around;
        padding: 10px 0;
    }
    nav #navigation #navigation-links .nav-divider {
        display: none;
    }
    nav #navigation #login-button {
        margin-left: 0;
    }
    nav .drop-down {
        margin-left: auto;
        display: block;
    }
    
}

@media(max-width: 300px) {
    nav {
        height: 50px;
        padding: 0 10px ;
    }
    nav #logo {
        font-size: 16px;
    }
}

