* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background: #f9f9f9;
}

nav {
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    gap: 30px;
    padding: 0 50px;
    align-items: center;
}

nav #logo {
    font-family: "Lilita One", sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
}

nav #navigation {
    width: inherit;
    height: inherit;
    display: flex;
    gap: 30px;
    align-items: center;
}

nav .drop-down {
    width: 40px;
    display: none;
    background: #1e1e1e;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}

nav #navigation #navigation-links {
    width: 400px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

nav #navigation #navigation-links li,
nav #navigation #navigation-links li a  {
    font-size: 16px;
    text-decoration: none;
    color: #939393;
    text-transform: uppercase;
}

nav #navigation #navigation-links li a:hover  {
    color: #1e1e1e;
}

nav #navigation #navigation-links .nav-divider {
    color: #e4e4e4;
}

nav #navigation #login-button {
    margin-left: auto;
}

nav #navigation #login-button button {
    background: #1e1e1e;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 36px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
}

nav #navigation #login-button button a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}


/* HOME */
main {
    width: 100%;
    height: 700px;
    padding: 0 50px;
}

main .notLoggedIn-container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


main .notLoggedIn-container .welcome-mss {
    border: 1px solid #dcdcdc;
    width: 100%;
    height: 552px;
    background-color: white;
    border-radius: 16px;
    padding: 30px;
}

main .notLoggedIn-container .welcome-mss h1 {
    font-size: 32px;
    font-weight: 600;
    color: #00b512;
    padding: 10px 0;
}

main .notLoggedIn-container .welcome-mss .wm {
    font-size: 32px;
    color: #00b512;
    padding: 5px 0;
}

main .notLoggedIn-container .welcome-mss .hero-msg {
    width: 100%;
    background-color: #F4FFF5;
    display: flex;
    align-items: center;
    height: 360px;
    gap: 10px;
    padding: 0 20px;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left p {
    font-size: 30px;
    color: #1e1e1e;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 25px 0;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns p {
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 700;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-sign-in,
main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-register{
    width: 190px;
    height: 36px;
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    font-size: 16px;
    font-weight: 600;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-sign-in {
    background-color: #00b512;
    color: white;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-sign-in a{
    color: white;
    text-decoration: none;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-register a{
    color: #00b512;
    text-decoration: none;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-left .hero-msg-left-btns .hero-register{
    background-color: white;
    color: #00b512;
    border: 1px solid #00b512;
}

main .notLoggedIn-container .welcome-mss .hero-msg .hero-msg-right {
    display: flex;
    gap: 5px;
}



/* footer  */

footer {
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

footer #links ul {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}


footer #links ul a{
    color:#939393;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

footer #links ul a:hover{
    color:#1e1e1e;
    text-decoration: underline;
}

footer #socials ul {
    width: 180px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

footer p {
    font-size: 16px;
    text-transform: uppercase;
    color: #939393;
}


/* REGISTER  */

.register-container,
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.register-container main,
.login-container main {
    background: white;
    height: 605px;
    padding: 30px;
    box-shadow: 2px 2px 2px rgba(147, 147, 147, 0.15);
    border-radius: 4px;
}

.register-container main h1,
.login-container main h1{
    color: #00b512;
    font-weight: 700;
    font-size: 32px;
    padding: 5px 0;
}

.register-container main p,
.login-container main p{
    color: #939393;
    font-size: 18px;
    padding-bottom: 10px;
}

.register-container main form,
.login-container main form{
    background: #f9f9f9;
    width: 100%;
    height: 420px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.login-container main form{
    justify-content: center;
    gap: 40px;

}


.register-container main form label,
.login-container main form label  {
    display: inline-block;
    width: 150px;
    font-size: 18px;
    color: #1e1e1e;
    padding-right: 30px;
}

.register-container main form input,
.login-container main form input {
    width: 900px;
    height: 38px;
    border: 1px solid #dcdcdc;
    background-color: white;
    font-size: 18px;
    padding: 0 10px;
    color: #1e1e1e;
}

.register-container main form button,
.login-container main form button{
    width: 190px;
    height: 36px;
    background: #00b512;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: -70px;
    right: 0;
}



/* MEDIA QUERIES  */

@media(max-width: 1204px) {
    nav #logo {
        font-size: 28px;
        text-transform: uppercase;
    }
    nav #navigation-links {
        width: 250px;
    }
    nav #navigation-links li,
    nav #navigation-links li a  {
        font-size: 14px;
    }
}

@media(max-width: 840px) {
    nav #navigation {
        height: 300px;
        width: 200px;
        display: none;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        position: absolute;
        background: white;
        z-index: 1;
        top: 70px;
        right: 50px;
        border-radius: 16px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        margin-left: auto;
    }
    nav #navigation.show-nav {
        display: flex;
    }
    nav #navigation #navigation-links {
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        align-items: space-around;
        padding: 10px 0;
    }
    nav #navigation #navigation-links .nav-divider {
        display: none;
    }
    nav #navigation #login-button {
        margin-left: 0;
    }
    nav .drop-down {
        margin-left: auto;
        display: block;
    }
    
}

@media(max-width: 300px) {
    nav {
        height: 50px;
        padding: 0 10px ;
    }
    nav #logo {
        font-size: 16px;
    }
}

