


<footer>
    <div id="links">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/">Privacy & Terms</a></li>
        </ul>
    </div>

    <div id="socials">
        <ul>
            <li>
                <a href="/">
                    <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/twitter--v1.png" alt="twitter--v1"/>
                </a>
                <p>Twitter</p>
            </li>
            <li>
                <a href="/">
                    <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/24/facebook.png" alt="facebook"/>
                </a>
                <p>Facebook</p>
            </li>
            <li>
                <a href="/">
                    <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/linkedin.png" alt="linkedin"/>
                </a>
                <p>LinkedIn</p>
            </li>
        </ul>
    </div>
    <p>By Claudia Arias</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</body>

<script src="/javascripts/scripts.js"></script>

<!-- Script element sourcing TinyMCE -->
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script>


</html>
