


<footer>
    <div id="links">
        <ul>
            <li>By Claudia Arias</li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>

    <div id="socials">
        <ul>
            <li>
                <i class="fa-brands fa-twitter"></i>
                <a href="/">Twitter</a>
            </li>
            <li>
                <i class="fa-brands fa-facebook"></i>
                <a href="/">Facebook</a>
            </li>
            <li>
                <i class="fa-brands fa-linkedin"></i>
                <a href="/">LinkedIn</a>
            </li>
        </ul>
    </div>

    <div id="subscribe">
        <form action="/">
            <label for="subscribe">Subscribe</label>
            <input type="text" name="subscribe" id="subscribe-txt">
            <button type="button" class="btn btn-primary">Subscribe</button>
        </form>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>


</body>



</html>
