<nav>
    <div id="logo">Datebook</div>
    <div id="navigation-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/Account">Account</a></li>
        </ul>
    </div>
    <div id="login-button">
        <button><a href="/auth/login">Login</a></button>
    </div>
</nav>