<nav>
    <a id="logo" href="/">Datebook</a>
    <button class="drop-down">≡</button>
    <div id="navigation">
        <ul id="navigation-links">
            <li><a href="/">Home</a></li>
            <li class="nav-divider">|</li>
            <li><a href="/settings">Settings</a></li>
        </ul>
        <div id="login-button">
            <!-- <button><a href="/auth/login">Login</a></button> -->
            <% if (locals.user) { %>
                <button><a href="/logout">Logout</a></button> 
            <% } else {%>
                <button><a href="/auth/login">Sign In</a></button>
            <% } %>
        </div>
    </div>
</nav>