<nav>
    <p id="logo">Datebook</p>
    <ul id="navigation-links">
        <li class="nav-divider">|</li>
        <li><a href="/">Home</a></li>
        <li class="nav-divider">|</li>
        <li><a href="/account">Account</a></li>
        <li class="nav-divider">|</li>
        <li><a href="/settings">Settings</a></li>
    </ul>
    <div id="login-button">
        <button><a href="/auth/login">Login</a></button>
    </div>
</nav>