<%- include("header") -%>
<%- include("nav") -%>

    <h1>About the creator of this website</h1>

    <img src="" alt="Creator Image">

    <p>Hello, yadda yadda.</p>

    <h2>Q&A</h2>

<%- include("footer") -%>
