<%- include("./partials/header") -%>
<%- include("./partials/nav") -%>


    <h1>Welcome to your dashboard, <%= locals.username %> </h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim repellendus, omnis labore, necessitatibus pariatur assumenda in dolorum consequatur officiis illo voluptatum cupiditate doloribus ratione voluptatibus quod? Voluptate neque non eaque.</p>

<%- include("./partials/footer") -%>
