<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<form action="">
    <ul id="edit-posts">
        <li>
            <div id="edit-post">
                <div id="edit-header">
                    <div id="edit-title"></div>
                    <div id="edit-date"></div>
                    <div id="edit-header-btns">
                        <button>Edit</button>
                        <button>Share</button>
                        <button>Delete</button>
                    </div>
                </div>
                <div id="edit-body">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div id="edit-footer">
                    <button>Read More ...</button>
                </div>
            </div>
        </li>
    </ul>

</form>



<%- include('./partials/footer.ejs') %>