<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<form>
    <div class="title-group">
        <label for="title">Title</label>
        <input type="text" class="title" id="title" name="title" placeholder="Enter title">
    </div>
    <div class="text-group">
        <label for="post">Post</label>
        <input type="textarea" class="post" id="post" name="post" placeholder="What's on your mind?">
    </div>
    <button type="submit">Submit</button>
</form>




<%- include('./partials/footer.ejs') %>