


<footer>
    <div id="links">
        <ul>
            <li>About</li>
            <li>Privacy</li>
            <li>Contact</li>
        </ul>
        <ul id="socials">
            <div>
                <img src="" alt=""/>
                <p>Twitter</p>
            </div>
            <div>
                <img src="" alt=""/>
                <p>Facebook</p>
            </div>
            <div>
                <img src="" alt=""/>
                <p>LinkedIn</p>
            </div>
        </ul>
    </div>

    <div id="subscribe">
        <p>Subscribe</p>
        <form action="/">
            <input type="text" name="subscribe" id="subscribe-txt">
            <button>Subscribe to our newsletter</button>
        </form>

    </div>
</footer>


</body>



</html>
