<%- include("header") -%>
<%- include("nav") -%>



    <main>
        <% if (locals.username === undefined) { %>
            <h1><%= locals.username %></h1>
        <% } else { %>
            <h1>Welcome POTATO</h1>
        <% } %>

        <h1>[ My First Blog Title ]</h1>
        <h2>[ date ]</h2>

        <img src="" alt="" />

        <p> [ And I know you're saying, 'Oh Bob, you've done it this time.' And you may be right. We'll lay all these little funky little things in there. Only eight colors that you need. The shadows are just like the highlights, but we're going in the opposite direction. I'm a water fanatic. I love water. We'll take a little bit of Van Dyke Brown.

            The only prerequisite is that it makes you happy. If it makes you happy then it's good. We don't have to be concerned about it. We just have to let it fall where it will. Once you learn the technique, ohhh! Turn you loose on the world; you become a tiger. This is your world. They say everything looks better with odd numbers of things. But sometimes I put even numbers—just to upset the critics. I can't think of anything more rewarding than being able to express yourself to others through painting. ]</p>
    </main>

    <article>
        <div id="user-info">
            <img src="" alt=""/>     
                <p> Welcome to Datebook! </p>

            <h4>User's Location</h4>
    
            <button type="button" class="btn btn-primary">Edit</button>
        </div>

        <hr>

        <div id="user-socials">
            <div>
                <img src="" alt=""/>
                <p>Twitter</p>
            </div>
            <div>
                <img src="" alt=""/>
                <p>Facebook</p>
            </div>
            <div>
                <img src="" alt=""/>
                <p>LinkedIn</p>
            </div>
        </div>


    </article>


<%- include("footer") -%>
